<ion-header [translucent]="true">
  <ion-toolbar class="colorBlack">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-button expand="full" fill="clear" color="dark">
    <ion-icon slot="end" name="person-outline"></ion-icon>
    Mi perfil
  </ion-button>
  <ion-button expand="full" fill="clear" color="dark">
    <ion-icon slot="end" name="chatbox-ellipses-outline"></ion-icon>
    Mensajes
  </ion-button>
  <ion-button expand="full" fill="clear" color="dark">
    <ion-icon slot="end" name="car-sport-outline"></ion-icon>
    Viajes
  </ion-button>
  <ion-button expand="full" fill="clear" color="dark">
    <ion-icon slot="end" name="wallet-outline"></ion-icon>
    Pagos
  </ion-button>
  <ion-button expand="full" fill="clear" color="dark">
    <ion-icon slot="end" name="help-buoy-outline"></ion-icon>
    Ayuda
  </ion-button>
  <ion-button expand="full" fill="clear" color="dark">
    <ion-icon slot="end" name="settings-outline"></ion-icon>
    Configuraciones
  </ion-button>
  <ion-button expand="full" fill="clear" color="danger" [routerLink]="'/login'">
    <ion-icon slot="end" name="log-out-outline"></ion-icon>
    Cerrar Sesion
  </ion-button>
  <p class="ion-padding " style="position: absolute; bottom: 0; color: rgb(158, 158, 158);">Version 0.0.1</p>
</ion-content>
  
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--Aqui comienza el cuerpo-->
  <ion-content class="ion-padding">
    <h3>Bienvenid@ Francisca</h3>
    <p>¿Que es lo que harás hoy?</p>
    <ion-button color="medium" expand="full">Buscar Conductor</ion-button>
    <p style="text-align: center;">o</p>
    <ion-button color="medium" expand="full"[disabled]="true">Ser conductor</ion-button>

    
    <ion-card>
      <img style="width: 100%;" alt="Sobre nosotros" src="https://www.cea-online.es/images/blog/20/errores-conductores-pasajeros-mediana.jpg" />
      <ion-card-header>
        <ion-card-title>Sobre nosotros</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        En el contexto actual de la pandemia que a nivel mundial se está viviendo, han
        surgido una serie de situaciones por las que las instituciones de educación
        superior han tenido que sobrellevar. Una de ellas es el hecho de tener una
        continuidad en la educación llevando las clases de la modalidad presencial a la
        modalidad remota. Sin embargo, con el paso de los meses y con el actuar de
        distintos actores, a saber, autoridades sanitarias, colaboración con entidades
        comunales, cuidados y responsabilidad de la ciudadanía, entre otros, ha
        llevado a volver a cierta presencialidad. 
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>