<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Bienvenid@ Francisca</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content><ion-button href="/TELLEVOAPP/src/app/users/login/login.page.html" expand="full" fill="clear">
    <ion-icon slot="end" name="person-outline"></ion-icon>
    Mi perfil
  </ion-button>
  <ion-button href="/TELLEVOAPP/src/app/users/login/login.page.html" expand="full" fill="clear">
    <ion-icon slot="end" name="chatbox-ellipses-outline"></ion-icon>
    Mensajes
  </ion-button>
  <ion-button href="/TELLEVOAPP/src/app/users/login/login.page.html" expand="full" fill="clear">
    <ion-icon slot="end" name="car-sport-outline"></ion-icon>
    Viajes
  </ion-button>
  <ion-button href="/TELLEVOAPP/src/app/users/login/login.page.html" expand="full" fill="clear">
    <ion-icon slot="end" name="wallet-outline"></ion-icon>
    Pagos
  </ion-button>
  <ion-button href="/TELLEVOAPP/src/app/users/login/login.page.html" expand="full" fill="clear">
    <ion-icon slot="end" name="settings-outline"></ion-icon>
    Configuraciones
  </ion-button>
  <ion-button href="/TELLEVOAPP/src/app/users/login/login.page.html" expand="full" fill="clear">
    <ion-icon slot="end" name="help-buoy-outline"></ion-icon>
    Ayuda
  </ion-button>
  <ion-button href="/TELLEVOAPP/src/app/users/login/login.page.html" expand="full" fill="clear">
    <ion-icon slot="end" name="log-out-outline"></ion-icon>
    Cerrar Sesion
  </ion-button>
  <p class="ion-padding " style="position: absolute; bottom: 0;">Version 0.0.1</p>
</ion-content>
  
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--Aqui comienza el cuerpo-->
  <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
  <ion-content class="ion-menu-button"><ion-button expand="full">Buscar Conductor</ion-button></ion-content>

</div>